*{
    margin: 0;
}
.header{
    margin: 1.5rem;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
.title{
    font-size: 3rem;
    letter-spacing: 10px;
    color: black;
    text-decoration: underline rgb(145,203,63);
}

.game{
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 7rem;
}

.num1{
    border-style:solid;
    border-color: rgb(145,203,63);
    font-family: monospace;
    margin-right: 2rem;
    font-size: 1.5rem;
    padding: 1.5rem;
    border-radius: 5px;
    padding-left: 3rem;
    padding-right: 3rem;
}
.operator1{
    height: 2rem;
    border-radius: 5px;
    width: 5rem ;
    font-size: 1.5rem;
    font-family: monospace;
}
.num2{
    border-style:solid;
    border-color: rgb(145,203,63);
    font-family: monospace;
    margin-left: 2rem;
    font-size: 1.5rem;
    padding: 1.5rem;
    border-radius: 5px;
    padding-left: 3rem;
    padding-right: 3rem;
}
@media only screen and (max-width: 500px){
    .game{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
    }
    .num1{
        margin-right: 0;
    }
    .num2{
        margin-left: 0;
    }
    .operator1{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

.resault_tab{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.answer{
    font-family: monospace;
    font-size: 1.5rem;
}

.subandcheck{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
}
.submit{
    border-radius: 5px;
    background-color: white;
    border-color: rgba(0, 0, 0, 0.249);
    padding: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-family: monospace;
    font-size: 1rem;
}
.check_container{
    margin-top: 3rem;
}
.check{
    font-size: 1.5rem;
    font-family: monospace;
}


.back{
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    margin-bottom: 2rem;
}
.back_button{
    text-decoration: none;
    color: black;
    font-family: monospace;
    font-size: 1rem;
    transition: 0.5s;
}
.back_button:hover{
    color: rgb(170, 239, 74);
}
.footer{
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.bar{
    color: white;
    font-family: monospace;
    padding: 10px;
}

.timer_container{
    display: flex;
    justify-content: center;
}
.timer{
    font-family: monospace;
    font-size: 1rem;
}